/* Default wide-screen styles */

@media only screen and (max-width: 999px) {
  /* rules that only apply for canvases narrower than 1000px */
}

@media only screen and (device-width: 768px) and (orientation: landscape) {
  /* rules for iPad in landscape orientation */
  body{
    width:100%;
    height: auto;
  }
  html{
    width: 100%;
    max-width: 768px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone, Android rules here */
    * {
        max-width: 320px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
     }
     html{
        max-width: 320px;
     }
     ul.desktop{
        list-style-type: none;
        margin-bottom: 40px;
      }

      ul.desktop li{
        display: block;
        margin-top: -90px;
      }

      li.port{
        min-width: 220px;
        width:240px;
        display: block;
        width: 48%;
        margin-left: 3px;
        margin-right: 10px;
      }

      li.contact{
        width: 240px;
        min-width: 220px;
        display: block;
        margin-right:3px;
        width: 48%;
      }

}

/* with modernizr */
.csscolumns ul.features {
 -moz-column-count: 2;
 -webkit-columns: 2;
 -o-columns: 2;
 columns: 2;
}
.no-csscolumns ul.features {
 float: left;
 margin: 0 0 20px;
}
.no-csscolumns ul.features li {
 float: left;
 width: 180px;
 margin: 2px;
}
/* with modernizr */

header {
	margin-bottom: 150px;
	max-height: 60px;
	max-width: auto;
	position: center;
	
}

html{
    background-color: black;
}

html, body {
  margin: 0;
  padding-top: 25px;
  border:0;
  min-width: 320px;
  width:auto;
  position: relative;
}

body {
    font-family: "Lucida Grande", "Arial", sans-serif;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: black;
    color: #4D4B39;
    max-width: auto;
    min-width: auto;
    border: 0.75em solid black;
    line-height: 1.5em;
    position: relative;


}

background {
	max-width: auto;
    max-height: auto;
    width: 768px;
    min-width: 30%;
    position: center;
    background-position: absolute;
}

#container {
    max-width: auto;
    max-height: auto;
    width: 768px;
    min-width: 30%;
    position: center;
    background-position: absolute;
}

p {
    margin: 1.5em 0;
}
h1 {
    background-color: black;
    text-align: center;
    color: #E1DFD3;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px #ff0000;
    font-size: 200%;
    font-family: 'Great Vibes', cursive;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
    margin-top: -50px;
}
h2 {
    background-color: #2472e0;
    text-align: center;
    color: black;
    border-color: black;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px blue;
    font-size: 250%;
    font-family: 'Great Vibes', cursive;
    padding: 1em;
    margin: -1em -1em 1em -1em;
    margin-bottom: -25px;
}

h1 + h2 {
    margin-top: -2em;
    padding-top: 0;
}

h3.company{font-family: "Codystar";
    font-size: 400%;
    color: purple;
    text-align: center;
    background-image: url();
    margin-top: 100px;
}

h3.company:hover{
    color: black;
}

h3.home{
    font-family: "Codystar";
    font-size: 400%;
    color: black;
    text-align: center;
    margin-top: -80px;
}

h3.home:hover{
    color: rgba(255,255,255, .8);
}

h3{
    font-family: "Codystar";
    font-size: 400%;
    color: purple;
    text-align: center;
    background-image: url();
}
h3:hover{
    color: red;
}

h4.ios{
    font-family:"Megrim";
    text-align: center;
    font-size: 60px;
    color: red;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px purple;
    margin-top:-175px;
    margin-left:-60px;
    margin-bottom: 60px;
}

h4.web{
    font-family:"Megrim";
    text-align: center;
    font-size: 40px;
    color: red;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px purple;
    margin-top:-90px;
    margin-right: -830px;
    margin-bottom: -400px;
}

h4.droid{
    font-family:"Megrim";
    text-align: center;
    font-size: 60px;
    color: red;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px purple;
    margin-top:250px;
    margin-left:-120px;
    margin-bottom: -40px;
}

h1.enterSite{
    text-align: center;
    background-color: transparent;
    border-color: indigo;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 2px 2px #ff0000;
    font-size: 180px;
    font-family: 'Shadows Into Light Two';
    margin-top: 10px;
    float: 
}

#team{
	max-width: 100%;
	max-height: auto;
	margin: 2px;
	margin-bottom: 60px;
	border: 0px;
}

/* Wrapper div for tabs */
div.wrapper{
	margin-bottom: 60px;
}

span img{
	max-width:200px;
	max-height:300px;
	margin-right: 15px;
	margin-bottom: 60px;
}

#two {
  max-width: 670px;
  max-height: 400px;
  position: center fixed;
}


#hidden_content{display:none;}

#hidden_content2{display:none;}

#hidden_content3{display:none;}

#hidden_content4{display:none;}

#hidden_content5{display:none;}

body.tab {
  font-size: 16px;
  
}

.colGroup {
  width: 100%;
  .clearfix;
  
  .col {
    width: 18%;
    float: left;
    margin: 0 1%;
    position: relative;
    perspective: 800;
   
  }
}

.colWeb{
  margin-bottom: 100px;
}

.btn {
  background: rgba(255,255,255, .8);
  text-decoration: none;
  margin-bottom: 30px;
  text-align: center;
  padding: 1em 0;
  display: block;
  color: rgba(255,255,255, .8);;
  transition: background .3s;
  
  &:hover {
    background: lighten(#e74c3c, 10%);
  }
  
}

button a {
	text-decoration: none;
	text-color: white;
}

button a:link {color:white;}      /* unvisited link */
button a:visited {color:white;}  /* visited link */
button a:hover {color:#FF00FF;}  /* mouse over link */
button a:active {color:indigo;}  /* selected link */

center#nav{
	margin-top:40px;
	margin-bottom:40px;
	
}

.getAutoHeight {
   position: relative;
   overflow: auto; 
 }

input.punch:hover{
	color:rgba(255,255,255, .8);
}

input.punch2:hover{
	color:rgba(255,255,255, .8);
}

input#port{
  width:100%;
  max-width: 100%;
}

input#contact{
  width: 100%;
  max-width: 100%;
}

ul.desktop{
  list-style-type: none;
  margin-bottom: 40px;
}

ul.desktop li{
  display: inline-block;
  margin-top: -90px;
}

li.port{
  min-width: 220px;
  width:240px;
  display: inline-block;
  width: 48%;
  margin-left: 3px;
  margin-right: 10px;

}

li.contact{
  width: 240px;
  min-width: 220px;
  display: inline-block;
  margin-right:3px;
  width: 48%;
}

/* buttons to scale equally */
form {
  width: 100%;
  max-width: 664px;
  min-width: 220px;
  margin: 0 auto;
}

input {
  min-width: 220px;
  width:100%;
  margin: 10px auto;

}

footer {
	margin-bottom: -85px;

}

footer.desktop {
  margin-bottom: -85px;
  text-align: center;

}

footer.homeFoot {
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
  min-height:auto;
  /*max-width: 480px;*/
  position: relative;

}

* { 
  -moz-box-sizing: border-box;
  webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0; padding: 0;
  margin-bottom: 20px;
}

/* For info and buttons */
.column-w {
  width: 50%;
  float: left;
  height: auto;
}

/* just so you can see the gutter */


.column-w:first-of-type {
  padding-right: 2%;
}
/* I wouldn't use px... but for example */


.column-w:last-of-type {
  padding-left: 2%;
}
/* I wouldn't use px... but for example */


.column {
  padding: 1rem;
  min-height: 100%;
  height: auto;
  margin-bottom: 15px;
  display: inline-block;
}

.main {
  background-color: white;
}

.sub {
  background-color: white;
}

article {
  color: #bc2c2c;

}
